.video-block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;

  &__content {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn-play {
    @include flex-all-center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 5;

    .play {
      fill: var(--color-white);
      width: 26px;
      height: 26px;
    }
  }

  &__btn-mute {
    @include flex-all-center;

    position: absolute;
    bottom: 32px;
    left: 32px;
    background-color: rgba(#fff, .2);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 5;

    .mute {
      fill: var(--color-white);
      width: 20px;
      height: 20px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-gunmetal);
    opacity: 0.6;
    z-index: 3;
  }
}
