<section class="about">
  <div class="container">
    <h2 class="title title--center">We are Createx Construction Bureau </h2>
    <p class="descr descr--center">We&nbsp;are rightfully considered to&nbsp;be&nbsp;the best construction company in&nbsp;the USA.</p>
    <div class="about__video-block video-block">
      <button class="video-block__btn-play btn-reset" aria-label="Play video">
        <svg class="play">
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <button class="video-block__btn-mute btn-reset" aria-label="Mute video">
        <svg class="mute">
          <use xlink:href="img/sprite.svg#mute"></use>
        </svg>
      </button>
      <video class="video-block__content" src="about-video.mp4" muted loop preload="meatadata"></video>
    </div>
  </div>
</section>


